@import "template.css";
/*form input arrangements*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-colour);
    color: var(--text-colour);
    padding-bottom: 30px;
}
#simple-input-fieldset{
    display: flex;
    justify-content: space-around;
    border-bottom: 0;
    width: 90%;
}
#centered-input-fieldset{
    text-align: center;
    border-top: 0;
    width: 90%;
}
#message-input-container{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#donation-form-title{
    background-color: var(--background-colour);
}
@media (max-width:768px) {
    #simple-input-fieldset{
        flex-direction: column;
    }
}

/*individual input adjustments*/
#submit-button{
    margin-top: 10px;
}
#message-input{
    resize: none;
}