:root {
    /*variables allow easy site wide changing of colour scheme and fonts*/
    --dark-background-colour: black;
    --dark-text-colour: white;

    --light-background-colour: white;
    --light-text-colour: black;

    /*current variables*/
    --background-colour:var(--light-background-colour) ;
    --text-colour:var(--light-text-colour);

    /*can use variables for fonts too*/
    --main-font: 'Arial',sans-serif;
}

/*media query for light and dark mode based on users browser preference settings*/
@media (prefers-color-scheme: dark){
    /*sets current colour variables to the dark mode ones*/
    :root{
        --background-colour:var(--dark-background-colour);
        --text-colour:var(--dark-text-colour);
    }
}
@media (prefers-color-scheme: light){
    /*sets current colour variables to the light mode ones*/
    :root{
        --background-colour:var(--light-background-colour);
        --text-colour:var(--light-text-colour);
    }
}

/*apply currently selected colours*/
body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}